-e git://github.com/ShipChain/cement.git@010fb7a76bdc1dae8b8c4ff9714b8b354a927cba#egg=cement
jinja2
pyyaml==3.13
colorlog
pyfiglet
colored
boto3>=1.9.28
urllib3<1.25,>=1.20
troposphere
paramiko
toml
libtmux
requests
distro